<div class="p-grid">
    <p-card class="p-col-12">
        <div class="p-formgroup-inline">
            <div class="p-field">
                <label for="title" class="p-sr-only">Nome</label>
                <input [(ngModel)]="image.name" id="title" type="text" pInputText placeholder="Nome (título) da foto"> 
            </div>
            <div class="p-field">
                <label for="desc" class="p-sr-only">Descrição</label>
                <textarea [(ngModel)]="image.description" id="desc" [rows]="5" [cols]="30"  placeholder="Informe a descrição" pInputTextarea></textarea>
            </div>
        </div>
    
        <div class="p-col-12">
            <p-fileUpload
            name="myfile[]"
            customUpload="true"
            chooseLabel="Selecionar"
            [disabled]="!display"
            (uploadHandler)="myUploader($event)">
            <ng-template pTemplate="content">
                <ul *ngIf="upload">
                    <li>{{upload.image.name}} - {{upload.size}} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>
        </div>
    </p-card>
</div>


<div *ngIf="upload">
    <img [src]="upload.url">
</div>
